<%= content_for(:feature){render :partial => "feature"} %>

<div id="body">
  <%= @page.body.html_safe %>
</div>

<div class="featureitem">
  <%= image_tag 'bodie-wood.jpg' %>
  <div class="caption">
    <h3>Craft Timber</h3>
    <p>Bodie with Craft Timber</p>
  </div>
</div>

<div class="featureitem">
  <%= image_tag 'garden1.jpg' %>
  <div class="caption">
    <h3>Garden Bed</h3>
    <p>ove Tailed Raised Garden Beds </p>
  </div>
</div>

<div class="featureitem">
  <%= image_tag 'cabin-mock.jpg' %>
  <div class="caption">
    <h3>Dove Tailed Homes</h3>
    <p>An artist's impression of a final product</p>
  </div>
</div>

<div class="v80">
  <br />
</div>

<%- content_for :footer do %>
  <p>Copyright <%= link_to "Dove Tail Timbers", sign_in_url %> 2010</p>
<% end %>
