<%- content_for :nav do %>
  <li><%= link_to "Website", root_url %></li>
  <li class="current"><%= link_to "Pages", controller: "pages" %></li>
  <li><%= link_to "Menus", controller: "links" %></li>
<% end -%>

<div class="span-24">
  <h3>Your Pages:</h3>
  <ul id="pages"> 
    <%= render :partial => 'page', :collection => @pages %>
  </ul>
</div>
<div class="span-24">
  <% if @page.title.nil? %>
    <h3>New Page</h3>
  <% else %>
    <h3>Edit <%= @page.title %></h3>
  <% end -%>
  
  <div id="notice" style="display: none;"><%= flash[:notice] %></div>
  <div id="alert" style="display: none;"><%= flash[:alert] %></div>
  
  <% form_for(@page, :html => {:multipart => true}) do |f| -%>
    <%= render "shared/error_messages", :target => @page %> 
    <p><%= f.label :title %></p>
      
    <p><%= f.text_field :title %></p>
    
    <p><%= f.label :body %></p>
    <p><%= f.cktext_area :body, :toolbar=>'Full', :width=>'850px', :height=>'400px' %></p>
    
    <p><%= link_to "Add/edit Feature Items", "#", :id => "edit_feature" %></p> 
    
    <div id="toggle_dropdown" style="display: none;">
      <table>
       
          <td></td>
          <td></td>
        <% f.fields_for :featureitems do |builder| %>
        <tr>
          <td>
            <p><%= f.label :title %></p>
            <p><%= builder.text_field :title %></p>
            <%= builder.fields_for :image do |i| %>
              <p><%= i.label :new_image %></p>
              <p><%= i.file_field :image %></p>
            <% end -%>
            <p><%= f.label :body %></p>
            <%= builder.text_area :body %>
          </td>
          <td><%= image_tag  %></td>
        </tr>
        <% end -%>
      </table>
    </div>
  
    <%= f.submit(params[:id].blank? ? 'Create' : 'Edit') %>
      
  <% end -%>
</div>

<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function(){
    $('form[data-remote]').bind("ajax:before", function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
    
    $("#edit_feature").click(function(){
      $("#toggle_dropdown").toggle();
      return false;
    })
  });
</script>
