<%- content_for :nav do %>
  <li><%= link_to "Website", root_url %></li>
  <li class="current"><%= link_to "Pages", controller: "pages" %></li>
  <li><%= link_to "Menus", controller: "links" %></li>
<% end -%>

<div class="span-24">
  <h3>Your Pages:</h3>
  <ul id="pages"> 
    <%= render :partial => 'page', :collection => @pages %>
  </ul>
</div>
<div class="span-24">
  <% if @page.title.nil? %>
    <h3>New Page</h3>
  <% else %>
    <h3>Edit <%= @page.title %></h3>
  <% end -%>
  
  <div id="notice" style="display: none;"><%= flash[:notice] %></div>
  <div id="alert" style="display: none;"><%= flash[:alert] %></div>
  
  <% form_for(@page) do |f| -%>
    <%= render "shared/error_messages", :target => @page %> 
    <p><%= f.label :title %></p>
      
    <p><%= f.text_field :title %></p>
    
    <p><%= f.label :body %></p>
    <p><%= f.cktext_area :body, :toolbar=>'Full', :width=>'850px', :height=>'400px' %></p>
    <%= f.submit(params[:id].blank? ? 'Create' : 'Edit') %>
      
  <% end -%>
</div>

<script type='text/javascript' charset='UTF-8'>
  $(document).ready(function(){
    $('form[data-remote]').bind("ajax:before", function(){
      for (instance in CKEDITOR.instances){
        CKEDITOR.instances[instance].updateElement();
      }
    });
  });
</script>
