- content_for :nav do
  = render :partial => 'nav'

- content_for :feature do
  = render :partial => "feature"
/*-----------------CONTENT --------------------- */
#hometext
  %h1 Who are we?
  %p Dove Tail Timbers is a Tasmanian business devoted to using Tasmanian timber to it's highest potential. We incorporate European building techniques and style to create inspired and beautiful homes and other timber products.  
#contacttext
  %h1 Contact us:
  %p Bodie Cavanagh, 
  %p Email: bodie.cavanagh@gmail.com 
  %p Telephone: 0429132929
%hr
.featureitem
  = image_tag 'bodie-wood.jpg'
  .caption
    %h3 Craft Timber
    %p Bodie with Craft Timber
.featureitem
  = image_tag 'garden1.jpg'
  .caption
    %h3 Garden Bed
    %p Dove Tailed Raised Garden Beds 
.featureitem.last
  = image_tag 'cabin-mock.jpg'
  .caption
    %h3 Dove Tailed Homes
    %p An artist's impression of a final product
%hr
.v80
  %br
/*-----------------END CONTENT --------------------- */
- content_for :footer do
  %p Copyright Dove Tail Timbers 2010
