<!DOCTYPE html>
<html>
  <head>
    <title>Dove Tail Timbers<%= @title if @title %></title>
    <%= stylesheet_link_tag 'screen', media: 'screen, projection' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", 
    'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js', 
    'rails.js', 
    'transitions.js', 
    'hoverIntent.js', 
    'superfish.js', 
    :ckeditor %>
    <%= csrf_meta_tag %>
  </head>

  <body class="admin">
    <div class="container">
      <div id="header">
        <h1>Dove Tail Timbers</h1>
      </div>
      <div id="nav">
        <ul class="nav">
          <%= yield :nav %>
        </ul>
      </div>
      <div id="content" class="padding">
        <%= yield %>
      </div>
      <div id="footer">
        <%= yield :footer %>
      </div>
    </div>
  <%= yield :javascript %>
  <%= render partial: 'layouts/analytics' %>
  </body>
</html>
